{:deps    {com.hyperfiddle/electric       {:mvn/version "v2-alpha-540-ga4699532"}
           ring/ring                      {:mvn/version "1.11.0"} ; comes with Jetty
           org.clojure/clojure            {:mvn/version "1.11.2"}
           org.clojure/clojurescript      {:mvn/version "1.11.121"}
           org.clojure/tools.logging      {:mvn/version "1.2.4"}
           ch.qos.logback/logback-classic {:mvn/version "1.4.14"}
           com.taoensso/faraday {:mvn/version "1.12.3"}
           clj-http/clj-http {:mvn/version "3.13.0"}
           ring/ring-defaults {:mvn/version "0.5.0"}
           ring-oauth2/ring-oauth2 {:mvn/version "0.2.2"}}
 :mvn/repos {"ossrh-snapshots" {:url "https://s01.oss.sonatype.org/content/repositories/snapshots"}}
 :paths   ["src" "resources"]
 :aliases {:dev
           {:extra-paths ["src-dev"]
            :extra-deps  {thheller/shadow-cljs          {:mvn/version "2.27.4"}
                          nrepl/nrepl {:mvn/version "1.2.0"}
                          io.github.clojure/tools.build {:mvn/version "0.9.6"
                                                         :exclusions  [com.google.guava/guava ; Guava version conflict between tools.build and clojurescript.
                                                                       org.slf4j/slf4j-nop]} ; clashes with app logger
                          org.clojure/test.check        {:mvn/version "1.1.1"}}}
           :prod
           {:extra-paths ["src-prod"]}

           :build                                           ; use `clj -X:build build-client`, NOT -T! build/app classpath contamination cannot be prevented
           {:extra-paths ["src-build"]
            :ns-default  build
            :extra-deps  {thheller/shadow-cljs          {:mvn/version "2.26.2"}
                          io.github.clojure/tools.build {:mvn/version "0.9.6"
                                                         :exclusions  [com.google.guava/guava ; Guava version conflict between tools.build and clojurescript.
                                                                       org.slf4j/slf4j-nop]}}} ; clashes with app logger

           :test {
                  :extra-paths ["tests"]
                  :main-opts ["-m" "kaocha.runner"]
                  :extra-deps {lambdaisland/kaocha    {:mvn/version "1.88.1376"}
                               org.clojure/test.check {:mvn/version "1.1.1"}}
                  }}}
